<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <!--<img src="assets/logo.png">-->
      <img src="assets/logo-2.svg">
    </a>
    <a #navBurger (click)="toggleNavbar()" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div #navMenu id="mainNavbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Notification Page
      </a>
      <a class="navbar-item" routerLinkActive="has-background-success-light has-text-black" [routerLink]="['/dino-details']" >
        Add new dino
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="javascript:void(0);">
          <span class="icon">
            <i class="fas fa-2x fa-solid fa-bell"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
