.navbar-notification {
  padding-right: 25px;
  position: absolute;
  right: 50px;
  top: 5px;
  .icon {
    font-size: 35px;
  }
  .notification-badge {
    background-color: red;
    border-radius: 50%;
    color: white;
    min-width: 25px;
    padding: 1px 3px;
    position:absolute;
    right:6px;
    text-align: center;
    top:2px;
  }
}
