<h1 class="title">Dino Form</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="dinoForm">
  <input formControlName="id" type="hidden"/>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input formControlName="name" class="input"
             [ngClass]="{'is-invalid is-danger': dinoForm.controls['name'].errors}"
             type="text" placeholder="Name">
    </div>
    <div *ngIf="dinoForm.controls['name'].errors" class="invalid-name has-text-danger">
      <div *ngIf="dinoForm.controls['name'].errors['required']">Name required</div>
    </div>
  </div>

  <div class="field">
    <label class="label">Notes</label>
    <div class="control">
      <textarea formControlName="description"
                class="textarea" [ngClass]="{'is-invalid is-danger': dinoForm.controls['description'].errors}"
                placeholder="Description"></textarea>
    </div>
    <div *ngIf="dinoForm.controls['description'].errors" class="invalid-name has-text-danger">
      <div *ngIf="dinoForm.controls['description'].errors['required']">Description required</div>
    </div>
  </div>
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <img src="{{dino?.image}}">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button [disabled]="dinoForm.invalid" class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light" [routerLink]="['/']">Cancel</button>
    </div>
  </div>
</form>
