/* Transparent Overlay */
.loading-overlay {
  position: fixed;
  z-index: 999;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80,0.5);
  }

  & > .loading-overlay__progress {
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50px;
  }
}
