<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{dino.name}}
    </p>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{dino.image}}" alt="{{dino.name}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{dino.description}}
    </div>
  </div>
  <footer class="card-footer">
    <a [routerLink]="['/dino-details', dino.id]" class="card-footer-item">Edit</a>
    <a (click)="deleteDino(dino.id)" class="card-footer-item">Delete</a>
  </footer>
</div>
